@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&family=Source+Sans+Pro:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}


.sidebar {
    background-color: rgb(179, 173, 173);
    width: 434px;
    font-family: 'Radio Canada', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 35px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: rgb(173, 14, 120); */
    height: 68vh;
    width: 80vw;
    margin: 144px auto;
    justify-content: space-around;
    display: flex;
}

.hello {
    font-size: 75px;
    font-family: 'Radio Canada', sans-serif;
}

.name {
    font-size: 54px;
    font-weight: bold;
    font-family: 'Radio Canada', sans-serif;
}

.about {
    font-size: 33px;
    font-family: 'Radio Canada', sans-serif;
}

.moreabout {
    font-size: 29px;
    margin-top: 23px;
    font-family: 'Radio Canada', sans-serif;
}

.buttons{
    margin-top: 34px;
}

.btn {
    padding: 9px 14px;
    margin-top: 30px;
    color: white;
    background-color: rgb(7, 114, 91);
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    border-radius: 22px;
    cursor: pointer;
}

.btn-sm{
font-size: 14px;
padding: 10px 19px;
margin: 12px 0;
width: 19vh;    
}
.btn:hover{
    background-color: white;
    color: rgb(9, 110, 110);
}
.devPic img {
    height: 68vh;
    /* padding: 0 499px; */
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contactform {
    font-family: 'Radio Canada', sans-serif;
    padding: 0 34px;
    padding-top: 144px;
}
.contactform h1{
    font-family: 'Source Sans Pro', sans-serif;
     padding: 10px 0;
     /* text-align: center; */
}

.contactform form div{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}
.contactform form div input{
    width: 35vh;
    border-radius: 5px;
    margin: 2px 0 0 0;
    padding: 2px;
}

#emailHelp{
    font-size: 11px;
    color: blue;
    margin: 0 5px;
    
}

#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}